html,
body {
  background-color: white;
  overflow: hidden;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  margin-top: 100px;
  margin-bottom: 0%;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 120px;
  text-align: center;
  vertical-align: middle;
  margin-top: 0%;
  margin-bottom: 0%;
}

.flower-container {
  display: flex;
  justify-content: center;
  align-items: center;
  clear: top;
  z-index: -1;
}

img {
  height: 100px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.btn {
  width: 275px;
  height: 100px;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
  margin: 10px;
}

.yes {
  background-color: #39d41e;
  border-color: #39d41e;
  margin-right: 50px;
}

.no {
  background-color: red;
  border-color: red;
  transition: top 0.1s, left 0.1s;
  margin-left: 50px;
}
